# ==========================================
# FILE: application-prod.yml
# ==========================================
spring:
  config:
    activate:
      on-profile: prod

  jpa:
    show-sql: false

logging:
  level:
    root: WARN
    com.svrmslk.customer: INFO